// ** Colors ** //

$base_color: rgba(200, 75, 75, 0.950);
$base_navbar_background: rgba(200, 75, 75, 0.5);
$dark_navbar_background: rgba(0, 0, 0, 0.205);
$base_text_color: #f4f4f4;
$dark_text_color: #000000;

// ** Page paddings ** //
$page_padding: 20px;

// ** Font Weights ** //

$light_font: 300;
$medium_font: 400;
$bolder_font: 600;

// ** Fonts ** //

$base_font: sans-serif;